<style type="text/css" data-type="vc_shortcodes-custom-css">
  .vc_custom_1474306346779{
    padding-top: 120px !important;
    padding-bottom: 30px !important;
  }
  .vc_custom_1476803630256{
    padding-top: 4% !important;
    padding-bottom: 2% !important;
  }
  .vc_custom_1476803855931{
    padding-bottom: 3% !important;
  }
  .vc_custom_1476803899585{
    padding-bottom: 3% !important;
  }
  .vc_custom_1474306215627{
    padding-bottom: 7% !important;
  }
  .vc_custom_1474302700327{
    padding-top: 10vh !important;
    padding-bottom: 10vh !important;
    background-color: #fafafa !important;
  }
  .vc_custom_1474302673572{
    padding-top: 0px !important;
    padding-right: 10% !important;
    padding-bottom: 0px !important;
    padding-left: 10% !important;
  }
  .vc_custom_1474302542922{
    padding-top: 0px !important;
    padding-right: 10% !important;
    padding-bottom: 0px !important;
    padding-left: 10% !important;
  }
</style>
<noscript>
  <style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style>
</noscript>

<div class="page page-id-190 page-template-default snap_rows_ thb_row_pagination_off dark-title disable_header_fill-off mm-link-animation-bg-fill color-changing-header-off footer-shadow-light thb-borders-off overflow-off wpb-js-composer js-comp-ver-4.12 vc_responsive">

  <%= render "layouts/shared/logo_header_menu" %>

  <div role="main" class="cf">
    <div class=" post-190 page type-page status-publish hentry">
      <div class="row wpb_row row-fluid align-center vc_custom_1474306346779">
        <div class="wpb_column columns small-12 medium-12 large-12 medium-12 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div id="thb-fadetype-36" class="thb-fadetype">
                <h1 style="text-align: center; font-size: 24px" class="title-header">
                  <div class="thb-fadetype-entry">
                    <%= t('about.index.we_create')%><br>
                    <%= t('about.index.we_create1')%><br>
                    <%= t('about.index.we_create2')%>
                  </div>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center">
        <div class="wpb_column columns small-12 medium-12 large-10 medium-12 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div id="thb-image-slider-80" class="thb-image-slider slick thb-image-slider-style1    dark-arrow " data-pagination="true" data-navigation="" data-center="0" data-columns="1" data-infinite="false">
                <figure>
                  <%= image_tag('about-1.jpg', :alt => "Corporate Stationery Branding") %>
                </figure>
                <figure>
                  <%= image_tag('about-2.jpg', :alt => "Strategies") %>
                </figure>
                <figure>
                  <%= image_tag('about-3.jpg', :alt => "Responsive Website") %>
                </figure>
                <figure>
                  <%= image_tag('about-3-0.jpg', :alt => "Website Coding") %>
                </figure>
                <figure>
                  <%= image_tag('about-4.jpg', :alt => "Digital Marketing") %>
                </figure>
                <figure>
                  <%= image_tag('about-5.jpg', :alt => "Marketing Campaigns") %>
                </figure>
                <figure>
                  <%= image_tag('about-6.jpg', :alt => "Interior Design Living Room") %>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center vc_custom_1476803630256">
        <div class="wpb_column columns small-12 large-10 medium-11 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element  ">
                <div class="wpb_wrapper">
                  <h4><%= t('about.index.expertise')%></h4>
                  <div class="row">
                    <div class="columns small-12 large-6 medium-6">
                      <h4 style="text-align: justify">
                        <strong>
                          <%= t('about.index.expertise_title_content')%>
                        </strong>
                      </h4>
                    </div>
                    <div class="columns small-12 large-6 medium-6">
                      <p style="font-size: 16px; text-align: left">
                        <%= t('about.index.expertise_descrip')%>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row wpb_row vc_inner row-fluid modus">
                <div class="wpb_column columns small-12 medium-4 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div class="wpb_text_column wpb_content_element  ">
                        <div class="wpb_wrapper">
                          <p><span style="color: #ea5b11;"><strong><%= t('about.index.expertise_research')%></strong></span></p>
                          <p>
                            <%= t('about.index.expertise_research_content')%>
                          </p>
                          <ul>
                            <li><%= t('about.index.expertise_research_item.item_1')%></li>
                            <li><%= t('about.index.expertise_research_item.item_2')%></li>
                            <li><%= t('about.index.expertise_research_item.item_3')%></li>
                            <li><%= t('about.index.expertise_research_item.item_4')%></li>
                            <li><%= t('about.index.expertise_research_item.item_5')%></li>
                            <li><%= t('about.index.expertise_research_item.item_6')%></li>
                            <li><%= t('about.index.expertise_research_item.item_7')%></li>
                            <li><%= t('about.index.expertise_research_item.item_8')%></li>
                            <li><%= t('about.index.expertise_research_item.item_9')%></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wpb_column columns small-12 medium-4 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div class="wpb_text_column wpb_content_element  ">
                        <div class="wpb_wrapper">
                          <p><span style="color: #ea5b11;"><strong><%= t('about.index.expertise_strategy')%></strong></span></p>
                          <p>
                            <%= t('about.index.expertise_strategy_content')%>
                          </p>
                          <ul>
                            <li><%= t('about.index.expertise_strategy_item.item_1')%></li>
                            <li><%= t('about.index.expertise_strategy_item.item_2')%></li>
                            <li><%= t('about.index.expertise_strategy_item.item_3')%></li>
                            <li><%= t('about.index.expertise_strategy_item.item_4')%></li>
                            <li><%= t('about.index.expertise_strategy_item.item_5')%></li>
                            <li><%= t('about.index.expertise_strategy_item.item_6')%></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wpb_column columns small-12 medium-4 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div class="wpb_text_column wpb_content_element  ">
                        <div class="wpb_wrapper">
                          <p><span style="color: #ea5b11;"><strong><%= t('about.index.expertise_design')%></strong></span></p>
                          <p>
                            <%= t('about.index.expertise_design_content')%>
                          </p>
                          <ul>
                            <li><%= t('about.index.expertise_design_item.item_1')%></li>
                            <li><%= t('about.index.expertise_design_item.item_2')%></li>
                            <li><%= t('about.index.expertise_design_item.item_3')%></li>
                            <li><%= t('about.index.expertise_design_item.item_4')%></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wpb_column columns small-12 medium-6 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div class="wpb_text_column wpb_content_element  ">
                        <div class="wpb_wrapper">
                          <p><span style="color: #ea5b11;"><strong><%= t('about.index.expertise_application')%></strong></span></p>
                          <p>
                            <%= t('about.index.expertise_application_content')%>
                          </p>
                          <ul>
                            <li><%= t('about.index.expertise_application_item.item_1')%></li>
                            <li><%= t('about.index.expertise_application_item.item_2')%></li>
                            <li><%= t('about.index.expertise_application_item.item_3')%></li>
                            <li><%= t('about.index.expertise_application_item.item_4')%></li>
                            <li><%= t('about.index.expertise_application_item.item_5')%></li>
                            <li><%= t('about.index.expertise_application_item.item_6')%></li>
                            <li><%= t('about.index.expertise_application_item.item_7')%></li>
                            <li><%= t('about.index.expertise_application_item.item_8')%></li>
                            <li><%= t('about.index.expertise_application_item.item_9')%></li>
                            <li><%= t('about.index.expertise_application_item.item_10')%></li>
                            <li><%= t('about.index.expertise_application_item.item_11')%></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wpb_column columns small-12 medium-6 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div class="wpb_text_column wpb_content_element  ">
                        <div class="wpb_wrapper">
                          <p><span style="color: #ea5b11;"><strong><%= t('about.index.expertise_support')%></strong></span></p>
                          <p>
                            <%= t('about.index.expertise_support_content')%>
                          </p>
                          <ul>
                            <li><%= t('about.index.expertise_support_item.item_1')%></li>
                            <li><%= t('about.index.expertise_support_item.item_2')%></li>
                            <li><%= t('about.index.expertise_support_item.item_3')%></li>
                            <li><%= t('about.index.expertise_support_item.item_4')%></li>
                            <li><%= t('about.index.expertise_support_item.item_5')%></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="row wpb_row row-fluid align-center">-->
        <!--<div class="wpb_column columns small-12 medium-12 large-7 medium-9 thb-dark-column">-->
          <!--<div class="vc_column-inner text-center">-->
            <!--<div class="wpb_wrapper">-->
              <!--<div class="wpb_text_column wpb_content_element  ">-->
                <!--<div class="wpb_wrapper">-->
                  <!--<h4>Our Team</h4>-->
                  <!--<p>-->
                    <!--Our blend of strategy & creativity results in dynamic outcomes that assist in supporting-->
                    <!--the future growth of our clients’ businesses. Everything we achieve is repeatedly delivered-->
                    <!--efficiently through commitment, sincerity & unconditional professionalism.-->
                  <!--</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row wpb_row row-fluid align-center vc_custom_1476803855931">-->
        <!--<div class="wpb_column columns small-12 medium-12 large-10 medium-12 thb-dark-column">-->
          <!--<div class="vc_column-inner ">-->
            <!--<div class="wpb_wrapper">-->
              <!--<div id="thb-team-60" class="thb-team-row">-->
                <!--<div class="row style1" data-columns="medium-4 large-3" data-center="true" data-navigation="true">-->
                  <!--<div class="thb-team-member small-12 medium-4 large-3 columns member_style1">-->
                    <!--<%= image_tag('Joe_Bhent-CCMO.jpg', size: "646x680", alt: "t_02", :class=>"attachment-full") %>-->
                    <!--<div class="team-information">-->
                      <!--<h6>L.J Benoit BEKONO (Joe Bhent)</h6>-->
                      <!--<p class="job-title">Creative/Managing Director</p>-->
                      <!--<div class="thb-description">-->
                        <!--<a href="#">-->
                          <!--<i class="fa fa-facebook"></i>-->
                        <!--</a>-->
                        <!--<a href="#">-->
                          <!--<i class="fa fa-twitter"></i>-->
                        <!--</a>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="thb-team-member small-12 medium-4 large-3 columns member_style1">-->
                    <!--<%= image_tag('Klodya_EYIDI-AM.jpg', size: "646x680", alt: "t_02", :class=>"attachment-full") %>-->
                    <!--<div class="team-information">-->
                      <!--<h6>Klodya M.W EYIDI</h6>-->
                      <!--<p class="job-title">Account Manager</p>-->
                      <!--<div class="thb-description">-->
                        <!--<a href="#">-->
                          <!--<i class="fa fa-facebook"></i>-->
                        <!--</a>-->
                        <!--<a href="#">-->
                          <!--<i class="fa fa-twitter"></i>-->
                        <!--</a>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="thb-team-member small-12 medium-4 large-3 columns member_style1">-->
                    <!--<%= image_tag('Etinge_Edward-DevBE.jpg', size: "646x680", alt: "t_02", :class=>"attachment-full") %>-->
                    <!--<div class="team-information">-->
                      <!--<h6>Edward ETINGE M.</h6>-->
                      <!--<p class="job-title">Developer</p>-->
                      <!--<div class="thb-description">-->
                        <!--<a href="#">-->
                          <!--<i class="fa fa-facebook"></i>-->
                        <!--</a>-->
                        <!--<a href="#">-->
                          <!--<i class="fa fa-twitter"></i>-->
                        <!--</a>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="thb-team-member small-12 medium-4 large-3 columns member_style1">-->
                    <!--<img width="646" height="680" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_05.jpg" class="attachment-full" alt="t_05" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_05.jpg 646w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_05-600x632.jpg 600w" sizes="(max-width: 646px) 100vw, 646px" />-->
                    <!--<div class="team-information">-->
                      <!--<h6>Kimmy Gulotta</h6>-->
                      <!--<p class="job-title">Senior Designer</p>-->
                      <!--<div class="thb-description">-->
                        <!--<a href="#">-->
                          <!--<i class="fa fa-facebook"></i>-->
                        <!--</a>-->
                        <!--<a href="#">-->
                          <!--<i class="fa fa-twitter"></i>-->
                        <!--</a>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="thb-team-member small-12 medium-4 large-3 columns member_style1">-->
                    <!--<img width="646" height="680" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_06.jpg" class="attachment-full" alt="t_06" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_06.jpg 646w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_06-600x632.jpg 600w" sizes="(max-width: 646px) 100vw, 646px" />-->
                    <!--<div class="team-information">-->
                      <!--<h6>Jason Hu</h6>-->
                      <!--<p class="job-title">Senior Developer</p>-->
                      <!--<div class="thb-description">-->
                        <!--<a href="#">-->
                          <!--<i class="fa fa-facebook"></i>-->
                        <!--</a>-->
                        <!--<a href="#">-->
                          <!--<i class="fa fa-twitter"></i>-->
                        <!--</a>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="thb-team-member thb-add-new small-12 medium-4 large-3 columns">-->
                    <!--<a href="index.html" target="" role="button" title="Submit Your Resume!">-->
                      <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" enable-background="new 0 0 64 64">-->
                        <!--<g fill="none" stroke="#000" stroke-width="2" stroke-miterlimit="10">-->
                          <!--<path d="m32 50v-36"/>-->
                          <!--<path d="m14 32h36"/>-->
                        <!--</g>-->
                      <!--</svg>-->
                    <!--</a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <div class="row wpb_row row-fluid align-center">
        <div class="wpb_column columns small-12 medium-12 large-7 medium-9 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element  text-center">
                <div class="wpb_wrapper">
                  <h4><%= t('about.index.office')%></h4>
                  <p>
                    <%= t('about.index.office_content')%>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center vc_custom_1476803899585">
        <div class="text-center wpb_column columns small-12 medium-12 large-9 medium- thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <!--<img width="562" height="340" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/office_02.jpg" class="thb_image animation fade-in left full  attachment-full" alt="office_02" />-->
              <div class="vc_empty_space"  style="height: 40px" >
                <span class="vc_empty_space_inner"></span>
              </div>
              <div class="wpb_text_column wpb_content_element vc_custom_1474302542922 text-center">
                <div class="wpb_wrapper">
                  <h2><%= t('about.index.office_town')%></h2>
                  <p>
                    <%= t('about.index.office_adresse')%><br />
                    <strong>M.</strong> <a href="callto:695-953-666">695-953-666</a> / <a href="callto:652-199-227">652-199-227</a><br />
                    <strong>E.</strong> <a href="mailto:hello@bhent.xyz">hello@bhent.xyz</a>
                  </p>
                </div>
              </div>
              <a class="btn animation bottom-to-top" href="https://goo.gl/maps/fj6rdQduqpL2" target=" _blank" role="button" title="Get Directions">
                <span><%= t('about.index.office_map')%></span>
              </a>
              <div class="vc_empty_space"  style="height: 30px" ><span class="vc_empty_space_inner"></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center">
        <div class="wpb_column columns small-12 medium-12 large-7 medium-9 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element  text-center">
                <div class="wpb_wrapper">
                  <h4><%= t('about.index.clients')%></h4>
                  <p>
                    <%= t('about.index.clients_content')%>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center vc_custom_1474306215627">
          <div class="wpb_column columns small-12 medium-12 large-10 medium-12 thb-dark-column">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div id="thb-client-logos-80" class="thb-client-row thb-opacity">
                  <div class="row no-padding style1" data-columns="small-6 large-3" data-center="true" data-navigation="true">
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <%= link_to image_tag('01.png', size: "900x600", alt: "Black&amp;White", :class=>"attachment-full"), :controller => "portfolio", :action => "black_and_white" %>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <%= link_to image_tag('02.png', size: "900x600", alt: "Olympic Gaming", :class=>"attachment-full"), :controller => "portfolio", :action => "olympic_gaming" %>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <%= link_to image_tag('logo_lilac.png', size: "900x600", alt: "Lilac Travel", :class=>"attachment-full"), :controller => "portfolio", :action => "la_maison_du_cafe" %>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <%= link_to image_tag('Logo_bois-st-anastasie.png', size: "900x600", alt: "Le Bois Sainte Anastasie - Restaurant", :class=>"attachment-full"), :controller => "portfolio", :action => "le_bois_saint_anastasie" %>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <%= link_to image_tag('bambou_lounge.png', size: "900x600", alt: "Bambou Lounge", :class=>"attachment-full"), :controller => "portfolio", :action => "bambou_lounge" %>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <%= link_to image_tag('logo_mahou.png', size: "900x600", alt: "Mahou", :class=>"attachment-full"), :controller => "portfolio", :action => "mahou" %>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <%= link_to image_tag('logo_solim.png', size: "900x600", alt: "Solim", :class=>"attachment-full"), :controller => "portfolio", :action => "solim" %>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <%= link_to image_tag('iletelle_mode_logo.png', size: "900x600", alt: "il&elle mode", :class=>"attachment-full"), :controller => "portfolio", :action => "iletelle_mode" %>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <%= link_to image_tag('logo_maison_du_cafe.png', size: "900x600", alt: "il&elle mode", :class=>"attachment-full"), :controller => "portfolio", :action => "la_maison_du_cafe" %>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <%= link_to image_tag('logo_smile.png', size: "900x600", alt: "il&elle mode", :class=>"attachment-full"), :controller => "portfolio", :action => "smile" %>
                      <a href="https://themeforest.net/item/werkstatt-creative-portfolio-theme/17870799?ref=fuelthemes" target=" _blank">
                        <%= image_tag('logo_smile.png', size: "900x600", alt: "il&elle mode", :class=>"attachment-full") %>
                      </a>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <%= link_to image_tag('logo_maison_du_cafe.png', size: "900x600", alt: "il&elle mode", :class=>"attachment-full"), :controller => "portfolio", :action => "la_maison_du_cafe" %>
                      <a href="https://themeforest.net/item/werkstatt-creative-portfolio-theme/17870799?ref=fuelthemes" target=" _blank">
                        <%= image_tag('logo_makkrol.png', size: "900x600", alt: "il&elle mode", :class=>"attachment-full") %>
                      </a>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <%= link_to image_tag('logo_maison_du_cafe.png', size: "900x600", alt: "il&elle mode", :class=>"attachment-full"), :controller => "portfolio", :action => "la_maison_du_cafe" %>
                      <a href="https://themeforest.net/item/werkstatt-creative-portfolio-theme/17870799?ref=fuelthemes" target=" _blank">
                        <%= image_tag('logo_express-info.png', size: "900x600", alt: "il&elle mode", :class=>"attachment-full") %>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!--<div class="row wpb_row row-fluid align-center full-width-row vc_custom_1474302700327 row-has-fill">-->
          <!--<div class="wpb_column columns small-12 medium-12 large-7 medium-9 thb-dark-column">-->
            <!--<div class="vc_column-inner ">-->
              <!--<div class="wpb_wrapper">-->
                  <!--<div class="wpb_text_column wpb_content_element animation bottom-to-top ">-->
                    <!--<div class="wpb_wrapper">-->
                      <!--<h6 style="text-align: center;">Testimonials</h6>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div id="thb-testimonials-22" class="thb-testimonials slick style1" data-columns="1" data-pagination="true" data-fade="true">-->
                    <!--<div class="thb-testimonial">-->
                      <!--<blockquote>-->
                        <!--<p>“The Tharks were having their hands full in the center of the room, and I began to realize that nothing short of a miracle could save Dejah.”</p>-->
                      <!--</blockquote>-->
                      <!--<img class="author_image " src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/testimionial_p1_128.jpg" width="128" height="128" alt="testimionial_p1_128" title="testimionial_p1_128" />-->
                      <!--<div>-->
                        <!--<cite>Isaac Tobin</cite>-->
                        <!--<span class="title">Creative Director at Fantasy Interactive</span>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="thb-testimonial">-->
                      <!--<blockquote>-->
                        <!--<p>“Or kind rest bred with am shed then. In raptures building an bringing be. Elderly is detract tedious assured private so to visited. Do travelling companions contrasted it.”</p>-->
                      <!--</blockquote>-->
                      <!--<img class="author_image " src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/testimonial_p2_128.jpg" width="128" height="128" alt="testimonial_p2_128" title="testimonial_p2_128" />-->
                      <!--<div>-->
                        <!--<cite>Jason Bourne</cite>-->
                        <!--<span class="title">Creative Director at Fantasy Interactive</span>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>