<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1476206634568{padding-top: 7vh !important;padding-bottom: 5vh !important;}.vc_custom_1476275450125{padding-top: 2vh !important;padding-bottom: 5vh !important;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>

<div class="page page-id-296 page-template-default snap_rows_ thb_row_pagination_off dark-title disable_header_fill-off mm-link-animation-bg-fill color-changing-header-off footer-shadow-light thb-borders-off overflow-off wpb-js-composer js-comp-ver-4.12 vc_responsive">

  <%= render "layouts/shared/logo_header_menu" %>
  <div class="vc_empty_space"  style="height: 20px" ><span class="vc_empty_space_inner"></span></div>
  <div role="main" class="cf">
    <div class=" post-296 page type-page status-publish hentry">
      <div class="row wpb_row row-fluid vc_custom_1476206634568">
        <div class="wpb_column columns small-12 medium-12 thb-dark-column">
          <div class="vc_column-inner vc_custom_1476275450125">
            <div class="wpb_wrapper">
              <div class="row expanded thb-portfolio masonry masonry-style1 style2 " id="portfolio-section-314" data-thb-animation="thb-animate-from-bottom" data-filter="thb-filter-314">
                <a href="../portfolio/black-and-white/" title="Black&White" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-illustration style2 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 79.107505071%;">
                      <div class="thb-placeholder black-white"></div>
                    </div>
                    <h2>Black&White</h2>
                    <aside class="thb-categories"><%= t('home.index.categiries_portfolio1')%></aside>
                  </div>
                </a>
                <a href="../portfolio/bhent/" title="Bhent" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-mobile-app style2 post-43 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-mobile-app" id="portfolio-43">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 158.125%;">
                      <div class="thb-placeholder bhent" ></div>
                    </div>
                    <h2>Bhent</h2>
                    <aside class="thb-categories"><%= t('home.index.categiries_portfolio4')%></aside>
                  </div>
                </a>
                <a href="/portfolio/olympic-gaming" title="Olympic Gaming" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-illustration style2 post-45 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-45">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 79.0842872008%;">
                      <div class="thb-placeholder olympic-gaming"></div>
                    </div>
                    <h2>Olympic Gaming</h2>
                    <aside class="thb-categories"><%= t('home.index.categiries_portfolio2')%></aside>
                  </div>
                </a>
                <a href="/portfolio/mahou" title="Mahou" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-inspiration style2 post-47 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-inspiration" id="portfolio-47">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 158.333333333%;">
                      <div class="thb-placeholder mahou"></div>
                    </div>
                    <h2>Mahou</h2>
                    <aside class="thb-categories"><%= t('home.index.categiries_portfolio2')%></aside>
                  </div>
                </a>
                <a href="/portfolio/bambou-lounge" title="Bambou Lounge" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-motion style2 post-57 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-motion" id="portfolio-57">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 158.333333333%;">
                      <div class="thb-placeholder bambou-lounge"></div>
                    </div>
                    <h2>Bambou Lounge</h2>
                    <aside class="thb-categories"><%= t('home.index.categiries_portfolio6')%></aside>
                  </div>
                </a>
                <a href="/portfolio/solim" title="Solim" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-animation style2 post-52 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-animation" id="portfolio-52">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 158.333333333%;">
                      <div class="thb-placeholder solim"></div>
                    </div>
                    <h2>Solim</h2>
                    <aside class="thb-categories"><%= t('home.index.categiries_portfolio5')%></aside>
                  </div>
                </a>
                <a href="/portfolio/lilac-travel" title="Lilac Travel" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-mobile-app style2 post-55 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-mobile-app" id="portfolio-55">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 79.0842872008%;">
                      <div class="thb-placeholder lilac"></div>
                    </div>
                    <h2>Lilac Travel</h2>
                    <aside class="thb-categories"><%= t('home.index.categiries_portfolio7')%></aside>
                  </div>
                </a>
                <a href="/portfolio/smile-restaurant" title="Smile Restaurant" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-print style2 post-62 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-print" id="portfolio-62">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 79.0842872008%;">
                      <div class="thb-placeholder smile"></div>
                    </div>
                    <h2>Smile Restaurant</h2>
                    <aside class="thb-categories"><%= t('home.index.categiries_portfolio3')%></aside>
                  </div>
                </a>
                <a href="/portfolio/il-et-elle-mode" title="il&elle mode" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-illustration style2 post-60 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-60">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 79.0842872008%;">
                      <div class="thb-placeholder iletelle-mode"></div>
                    </div>
                    <h2>il&elle mode</h2>
                    <aside class="thb-categories"><%= t('home.index.categiries_portfolio1')%></aside>
                  </div>
                </a>
                <a href="/portfolio/la-maison-du-cafe" title="Broacay Planet" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-print style2 post-64 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-print" id="portfolio-64">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 79.0842872008%;">
                      <div class="thb-placeholder la-maison-du-cafe"></div>
                    </div>
                    <h2>La Maison Du Café</h2>
                    <aside class="thb-categories"><%= t('home.index.categiries_portfolio7')%></aside>
                  </div>
                </a>

                <a href="/portfolio/le-bois-sainte-anastasie-restaurant" title="Le Bois Saint Anastasie - Restaurant" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-inspiration style2 post-228 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-inspiration" id="portfolio-228">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 78.125%;">
                      <div class="thb-placeholder le-bois-saint-anastasie"></div>
                    </div>
                    <h2>Le Bois Sainte Anastasie - Restaurant</h2>
                    <aside class="thb-categories"><%= t('home.index.categiries_portfolio8')%></aside>
                  </div>
                </a>

                <a href="/portfolio/olialima" title="OliaLima" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-animation style2 post-226 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-animation" id="portfolio-226">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 78.125%;">
                      <div class="thb-placeholder olialima"></div>
                    </div>
                    <h2>OliaLima</h2>
                    <aside class="thb-categories"><%= t('home.index.categiries_portfolio1')%></aside>
                  </div>
                </a>
                <a href="/portfolio/makkrol" title="Makkrol" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-illustration style2 post-60 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-60">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 79.0842872008%;">
                      <div class="thb-placeholder makkrol"></div>
                    </div>
                    <h2>Makkrol</h2>
                    <aside class="thb-categories"><%= t('home.index.categiries_portfolio8')%></aside>
                  </div>
                </a>
                <a href="/portfolio/express-informatique" title="Express Informatique" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-print style2 post-64 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-print" id="portfolio-64">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 79.0842872008%;">
                      <div class="thb-placeholder express-informatique"></div>
                    </div>
                    <h2>Express Informatique</h2>
                    <aside class="thb-categories"><%= t('home.index.categiries_portfolio8')%></aside>
                  </div>
                </a>
                <div class="thb-preloader">
                  <svg class="thb-preloader-icon-hexagon" width="51" height="55" viewBox="0 0 34 38">
                    <path class="preloader-path" stroke="#ea5b11" stroke-dasharray="70 32" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="0" d="M29.437 8.114L19.35 2.132c-1.473-.86-3.207-.86-4.68 0L4.153 8.114C2.68 8.974 1.5 10.56 1.5 12.28v11.964c0 1.718 1.22 3.306 2.69 4.165l10.404 5.98c1.47.86 3.362.86 4.834 0l9.97-5.98c1.472-.86 2.102-2.45 2.102-4.168V12.28c0-1.72-.59-3.306-2.063-4.166z"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End role["main"] -->
</div>