<style id='thb-app-inline-css' type='text/css'>
  .postid-226 .post-gallery.parallax {
    min-height:100vh;
  }
  .postid-226 .post-gallery.parallax .parallax_bg {
    background-color:#000000 !important;
    background-image:url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/wp-content/uploads/sites/3/2016/09/v2_01.jpg) !important;
    background-repeat: !important;
    background-attachment: !important;
    background-position:center center !important;
    background-size:cover !important;;
  }
  .postid-226 .portfolio-title.style2 {;}
  input[type="submit"],.button,.btn {}@media only screen and (min-width:64.063em) {#mobile-menu.style1 {width:50%;}}.thb-portfolio #portfolio-274.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-274.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-274.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-270.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-270.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-270.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-265.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-265.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-265.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-263.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-263.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-263.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-238.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-238.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-238.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:rgba(225,233,238,0.95);}.thb-portfolio #portfolio-236.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-236.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-236.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:rgba(190,191,205,0.95);}.thb-portfolio #portfolio-234.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-234.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-234.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#e2ede6;}.thb-portfolio #portfolio-232.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-232.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-232.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#e3dfe6;}.thb-portfolio #portfolio-230.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-230.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-230.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#f8f1ed;}.thb-portfolio #portfolio-228.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-228.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-228.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#dce8ed;}.thb-portfolio #portfolio-226.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-226.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-226.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#e3e2e7;}.thb-portfolio #portfolio-224.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-224.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-224.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#e2dbd6;}.thb-portfolio #portfolio-64.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-64.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-64.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-60.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-60.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-60.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-62.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-62.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-62.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-57.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-57.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-57.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-55.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-55.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-55.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-52.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-52.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-52.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-49.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-49.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-49.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-47.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-47.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-47.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-45.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-45.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-45.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-43.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-43.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-43.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-41.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-41.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-41.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-39.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-39.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-39.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.page-id-226 #wrapper div[role="main"] {}
</style>
<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1473279133006{padding-top: 10vh !important;padding-bottom: 10vh !important;}.vc_custom_1473683314514{margin-bottom: 7vh !important;padding-top: 7vh !important;padding-bottom: 7vh !important;background-color: #a3eaf2 !important;}.vc_custom_1474318644210{padding-top: 7vh !important;padding-bottom: 5vh !important;}.vc_custom_1473278838994{padding-top: 10vh !important;padding-bottom: 10vh !important;background-color: #d0d7e2 !important;}.vc_custom_1473335634909{background-color: #c9a8cb !important;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript></head>

<div class="single single-portfolio postid-226 snap_rows_off thb_row_pagination_off light-title disable_header_fill-off mm-link-animation-bg-fill color-changing-header- footer-shadow-light thb-borders-off overflow-off wpb-js-composer js-comp-ver-4.12 vc_responsive">

  <!-- Start Header -->
  <header class="header style1 menu_style1">
    <div class="row expanded align-middle">
      <div class="small-12 columns regular-header">
        <%= render "portfolio/shared/header_porfolio" %>
      </div>
      <div class="small-12 columns portfolio-header">
        <div class="thb-breadcrumb-holder">
          <%= render "portfolio/shared/view_all" %>
          <span><em>-</em> OliaLima</span>
        </div>
        <%= render "portfolio/shared/share_portfolio" %>
      </div>
    </div>
  </header>
  <!-- End Header -->	<div role="main" class="cf"><article itemscope itemtype="http://schema.org/Article" class="post portfolio-detail post-226 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-animation" role="article">
  <figure class="post-gallery parallax">
    <div class="parallax_bg"
         data-top-bottom="transform: translate3d(0px, 40%, 0px);"
         data-top="transform: translate3d(0px, 0%, 0px);"
         style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/m6-02.jpg);"></div>
    <header class="portfolio-title style1 entry-header">
      <div class="row align-center">
        <div class="small-12 medium-10 large-7 columns">
          <h1 class="entry-title" itemprop="name headline">OliaLima</h1>									<h4>Springing upward, I struck him full in the face as he turned at my warning cry and then as he drew his short-sword I drew mine.</h4>
        </div>
      </div>
    </header>
    <div class="scroll-bottom"><div></div></div>
  </figure>		<div class="post-content">
  <div class="row wpb_row row-fluid align-center vc_custom_1473279133006"><div class="wpb_column columns small-12 medium-12 large-9 medium-10 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="row wpb_row vc_inner row-fluid"><div class="wpb_column columns small-12 medium-6 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element animation bottom-to-top ">
      <div class="wpb_wrapper">
        <h4><strong>Info</strong></h4>
        <h2></h2>

      </div>
    </div>

    <div class="wpb_text_column wpb_content_element animation bottom-to-top ">
      <div class="wpb_wrapper">
        <h2><strong>Dejah Thoris had raised herself upon one elbow and was watching the battle</strong></h2>
        <p>Whale was seized and sold, and his Grace the Duke of Wellington received the money. Thinking that viewed in some particular lights, the case might by a bare possibility in some small degree be deemed, under the circumstances, a rather hard one, an honest clergyman of the town addressed a note to his Grace, begging him to take the case of those unfortunate mariners into full consideration. He could not use his short-sword to advantage because I was too close to him, nor could he draw his pistol, which he attempted to do in direct opposition to Martian custom which says that you may not fight a fellow warrior in private combat with any other than the weapon with which you are attacked.</p>

      </div>
    </div>
    <a class="btn thb-border-style   animation bottom-to-top" href="http://www.nytimes.com/section/well" target=" _blank" role="button" title="Visit Website"><span>Visit Website</span></a>

  </div></div></div><div class="wpb_column columns small-12 medium-6 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space"  style="height: 65px" ><span class="vc_empty_space_inner"></span></div>
    <div class="portfolio-attributes style3">
      <div class="attribute"><strong>Client:</strong> NY Times</div>
      <div class="attribute"><strong>Website:</strong> <a href="http://www.nytimes.com/section/well" title="NY Times" target="_blank">nytimes.com</a></div>
      <div class="attribute"><strong>Date:</strong> 2016-04-06</div>
      <div class="attribute"><strong>Services:</strong> Design, Art Direction, Website</div>
    </div>
  </div></div></div></div></div></div></div></div><div class="row wpb_row row-fluid no-row-padding full-width-row no-column-padding vc_custom_1473683314514 row-has-fill"><div class="wpb_column columns small-12 medium-12 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space"  style="height: 80px" ><span class="vc_empty_space_inner"></span></div>
  <img width="1096" height="1096" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/logo.png" class="thb_image animation fade-in center  retina_size attachment-full" alt="logo" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/logo.png 1096w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/logo-150x150.png 150w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/logo-300x300.png 300w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/logo-768x768.png 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/logo-1024x1024.png 1024w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/logo-600x600.png 600w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/logo-900x900.png 900w" sizes="(max-width: 1096px) 100vw, 1096px" /><div class="vc_empty_space"  style="height: 80px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div><div class="row wpb_row row-fluid align-center"><div class="wpb_column columns small-12 medium-12 large-9 medium-10 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  ">
    <div class="wpb_wrapper">
      <h4><strong>Brief</strong></h4>

    </div>
  </div>

  <div class="wpb_text_column wpb_content_element animation bottom-to-top ">
    <div class="wpb_wrapper">
      <h2><strong>Springing upward, I struck him full in the face as he turned at my warning cry and then as he drew his short-sword I drew mine.</strong></h2>

    </div>
  </div>
  <div class="row wpb_row vc_inner row-fluid"><div class="wpb_column columns animation left-to-right small-12 medium-6 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element  ">
      <div class="wpb_wrapper">
        <p>Whale was seized and sold, and his Grace the Duke of Wellington received themoney. Thinking that viewed in some particular lights, the case might by a bare possibility in some small degree be deemed, under the circumstances, a rather hard one, an honest clergyman of the town addressed a note. He could not use his short-sword to advantage because I was too close to him, nor could he draw his pistol, which he attempted to do in direct opposition to Martian custom which says that you may not fight a fellow warrior in private combat with any other than the weapon with which you are attacked.</p>

      </div>
    </div>
  </div></div></div><div class="wpb_column columns animation right-to-left small-12 medium-6 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element  ">
      <div class="wpb_wrapper">
        <p>He could not use his short-sword to advantage because I was too close to him, nor could he draw his pistol, which he attempted to do in direct opposition to Martian custom which says that you may not fight a fellow warrior in private combat with any other than the weapon with which you are attacked. In fact he could do nothing but make a wild and futile attempt to dislodge me. With all his immense bulk he was little if any stronger than I, and it was but the matter of a moment or two before he sank, bleeding and lifeless, to the floor. Dejah Thoris had raised herself upon one elbow and was watching the battle.</p>

      </div>
    </div>
  </div></div></div></div><div class="vc_empty_space"  style="height: 60px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div><div class="row wpb_row row-fluid no-row-padding full-width-row no-column-padding"><div class="wpb_column columns small-12 medium-12 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper"><img width="1920" height="980" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_03.jpg" class="thb_image  center full  attachment-full" alt="v2_03" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_03.jpg 1920w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_03-768x392.jpg 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_03-1024x523.jpg 1024w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_03-600x306.jpg 600w" sizes="(max-width: 1920px) 100vw, 1920px" /></div></div></div></div><div class="row wpb_row row-fluid align-center vc_custom_1474318644210"><div class="wpb_column columns animation bottom-to-top small-12 medium-12 large-9 medium-10 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  ">
    <div class="wpb_wrapper">
      <h4><strong>Design</strong></h4>

    </div>
  </div>

  <div class="wpb_text_column wpb_content_element  ">
    <div class="wpb_wrapper">
      <h2><strong>These ancient Martians had been a highly cultivated and literary race, but during the vicissitudes of those trying centuries of readjustment to new conditions</strong></h2>
      <p>But when the Woodman entered the great Throne Room he saw neither the Head nor the Lady, for Oz had taken the shape of a most terrible Beast. It was nearly as big as an elephant, and the green throne seemed hardly strong enough to hold its weight. The Beast had a head like that of a rhinoceros, only there were five eyes in its face. There were five long arms growing out of its body, and it also had five long, slim legs. Thick, woolly hair covered every part of it, and a more dreadful-looking monster could not be imagined. It was fortunate the Tin Woodman had no heart at that moment, for it would have beat loud and fast from terror. But being only tin, the Woodman was not at all afraid, although he was much disappointed.</p>

    </div>
  </div>
</div></div></div></div><div class="row wpb_row row-fluid align-center no-row-padding full-width-row no-column-padding vc_custom_1473278838994 row-has-fill"><div class="wpb_column columns small-12 medium-12 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="row wpb_row vc_inner row-fluid max_width align-center"><div class="wpb_column columns small-12 medium-12 large-9 medium-10 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper"><img width="1154" height="803" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_04.jpg" class="thb_image animation bottom-to-top left full  attachment-full" alt="v2_04" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_04.jpg 1154w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_04-768x534.jpg 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_04-1024x713.jpg 1024w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_04-600x418.jpg 600w" sizes="(max-width: 1154px) 100vw, 1154px" /><div class="vc_empty_space"  style="height: 50px" ><span class="vc_empty_space_inner"></span></div>
  <img width="1154" height="1473" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_05.jpg" class="thb_image animation bottom-to-top left full  attachment-full" alt="v2_05" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_05.jpg 1154w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_05-768x980.jpg 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_05-802x1024.jpg 802w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_05-600x766.jpg 600w" sizes="(max-width: 1154px) 100vw, 1154px" /></div></div></div></div></div></div></div></div><div class="row wpb_row row-fluid no-row-padding full-width-row no-column-padding"><div class="wpb_column columns small-12 medium-6 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper"><img width="960" height="980" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_06.jpg" class="thb_image animation bottom-to-top left full  attachment-full" alt="v2_06" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_06.jpg 960w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_06-768x784.jpg 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_06-600x613.jpg 600w" sizes="(max-width: 960px) 100vw, 960px" /></div></div></div><div class="wpb_column columns small-12 medium-6 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper"><img width="960" height="980" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_07.jpg" class="thb_image animation bottom-to-top left full  attachment-full" alt="v2_07" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_07.jpg 960w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_07-768x784.jpg 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/v2_07-600x613.jpg 600w" sizes="(max-width: 960px) 100vw, 960px" /></div></div></div></div><div class="row wpb_row row-fluid no-row-padding full-width-row no-column-padding vc_custom_1473335634909 row-has-fill"><div class="wpb_column columns small-12 medium-12 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space"  style="height: 150px" ><span class="vc_empty_space_inner"></span></div>
  <div class="row wpb_row vc_inner row-fluid max_width"><div class="wpb_column columns small-12 medium-3 large-3 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper"><img width="312" height="661" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/phone_01.png" class="thb_image animation bottom-to-top center   attachment-full" alt="phone_01" /></div></div></div><div class="wpb_column columns small-12 medium-3 large-3 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper"><img width="312" height="661" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/phone_02.png" class="thb_image animation bottom-to-top center   attachment-full" alt="phone_02" /></div></div></div><div class="wpb_column columns small-12 medium-3 large-3 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper"><img width="312" height="661" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/phone_03.png" class="thb_image animation bottom-to-top center   attachment-full" alt="phone_03" /></div></div></div><div class="wpb_column columns small-12 medium-3 large-3 thb-dark-column"><div class="vc_column-inner "><div class="wpb_wrapper"><img width="312" height="661" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/phone_04.png" class="thb_image animation bottom-to-top center   attachment-full" alt="phone_04" /></div></div></div></div><div class="vc_empty_space"  style="height: 150px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div>
</div>
</article>

  <div class="portfolio_nav">
    <div class="row full-width-row">
      <div class="small-5 columns">
        <a href="/portfolio/smile-restaurant" class="post_nav_link prev">
          <div class="inner">
            <%= image_tag('smile.jpg', :alt => "Smile - Restaurant") %>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="309.1" height="162.4" viewBox="151.5 346.3 309.1 162.4" enable-background="new 151.47 346.319 309.06 162.356" xml:space="preserve">
            <path d="M151.5 427.5c0 4.5 2 8.8 5.5 11.7l78.5 65.9c2.9 2.4 6.4 3.6 9.8 3.6 4.4 0 8.7-1.9 11.7-5.5 5.4-6.5 4.6-16.1-1.9-21.5l-45.9-38.5H445.2c8.5 0 15.3-6.8 15.3-15.3 0-8.5-6.8-15.3-15.3-15.3H208.3l46.8-39.2c6.5-5.4 7.3-15.1 1.9-21.5 -5.4-6.5-15.1-7.3-21.5-1.9l-78.5 65.9C153.5 418.7 151.5 423 151.5 427.5z"/>
          </svg>
          <strong>
            Previous Project (p)
          </strong>
          <span>Smile - Restaurant</span>
        </a>
      </div>
      <%= render "portfolio/shared/back" %>
      <div class="small-5 columns">
        <a href="/portfolio/il-et-elle-mode" class="post_nav_link next">
          <div class="inner">
            <%= image_tag('Parce-que-sa-vision-de-la-mode-c-est-un-club-pas-un-vetement.jpg', :alt => "il&elle mode") %>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="309.1" height="162.4" viewBox="151.5 346.3 309.1 162.4" enable-background="new 151.47 346.319 309.06 162.356" xml:space="preserve">
            <path d="M455.1 415.8l-78.5-65.9c-6.5-5.4-16.1-4.6-21.5 1.9 -5.4 6.5-4.6 16.1 1.9 21.5l46.8 39.2H166.8c-8.5 0-15.3 6.8-15.3 15.3 0 8.5 6.8 15.3 15.3 15.3h236l-45.9 38.5c-6.5 5.4-7.3 15.1-1.9 21.5 3 3.6 7.4 5.5 11.7 5.5 3.5 0 7-1.2 9.8-3.6l78.5-65.9c3.5-2.9 5.5-7.2 5.5-11.7S458.5 418.7 455.1 415.8z"/>
          </svg>
          <strong>
            Next Project (n)
          </strong>
          <span>il&elle mode</span>

        </a>
      </div>
    </div>
  </div>
</div><!-- End role["main"] -->

</div>